<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Summary Report</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    @page {
      background: url("{{ logo_url }}") no-repeat center center;
      background-size: 60%;
      margin: 30mm;
    }
  
    body {
      font-family: sans-serif;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="watermark">
    <img src="{{ logo_url }}" style="opacity: 0.06; width: 60%; position: fixed; top: 25%; left: 20%; transform: rotate(-30deg); z-index: 0;">
  </div>
  {% block content %}{% endblock %}
</body>
</html>
